/* Timeline defaults */
/* --------------------------------------- */
.h--timeline-container *,
.h--timeline-events * {
    outline: 0;
}

.h--timeline-container,
.h--timeline-events {
    width: 100%;
    margin: 0 auto;
}

.h--timeline-navigation-container ul,
.h--timeline-navigation-container li,
.h--timeline-events ol,
.h--timeline-events li,
.h--timeline-line ol,
.h--timeline-line li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.h--timeline {
    opacity: 0;
    transition: opacity 0.2s;
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
}

.h--timeline--loaded {
    opacity: 1;
}

.h--timeline-container {
    height: 100px;
    margin: 0 12px;
}

.h--timeline-dates {
    position: relative;
    height: 100%;
    overflow: hidden;
}

/* Timeline blur effect for start and end */
/* --------------------------------------- */
.h--timeline-dates::after,
.h--timeline-dates::before {
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    height: 100%;
    width: 50px;
    z-index: -1;
}

.h--timeline-dates::before {
    left: 0;
    background: transparent;
}

.h--timeline-dates::after {
    right: 0;
    background: transparent;
}

/* Timeline horizontal line */
/* --------------------------------------- */
.h--timeline-line {
    position: absolute;
    z-index: 1;
    /* left: 25px !important; */
    top: 49px;
    height: 2px;
    background-color: #d7d5d5;
    transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    transition: transform 0.4s, -webkit-transform 0.4s;
}

.h--timeline-filling-line {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
}

/* Bullet points */
/* --------------------------------------- */
.h--timeline-date {
    position: absolute;
    bottom: 0;
    z-index: 2;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    padding-bottom: 0.75rem;
    color: #8f8f8f !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
}

.h--timeline-date:hover {
    font-weight: 600;
}

.h--timeline-date::after,
.h--timeline-date::before {
    content: "";
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: -7px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    border-color: #FFF;
    background-color: #f7f7f7;
    transition: background-color 0.3s, border-color 0.3s, top 0.3s;
}

.h--timeline-date::before {
    bottom: -3px;
    height: 9px;
    width: 9px;
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    z-index: 2;
}

.h--timeline-date:hover::before,
.h--timeline-date:hover::after {
    transition: background-color 0.3s, border-color 0.3s, top 0.3s;
}

.h--timeline-date:hover::after {
    background-color: #f7f7f7;
    border-color: #FFF;
}

.h--timeline-date--selected {
    pointer-events: none;
    color: #000 !important;
}

.h--timeline-date--selected::after {
    background-color: #f7f7f7;
    border-color: #FFF;
}

.h--timeline-date--selected::before {
    background-color: #FFF;
}

.h--timeline-date--older-event::after {
    background-color: #FFF;
    border-color: #FFF;
}

/* Caroussel navigation */
/* --------------------------------------- */
.h--timeline-navigation {
    font-size: 0;
    position: absolute;
    z-index: 9;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 34px;
    width: 34px;
    transition: border-color 0.3s;
}

.h--timeline-navigation::after {
    content: "";
    position: absolute;
    height: 16px;
    width: 16px;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    /* background: url('../img/timeline_slider_right_arrow.png')
		no-repeat 0 0; */
}

.h--timeline-navigation--prev {
    background-image: url(../Assets/sliderNext.svg) !important;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.h--timeline-navigation--next {
    background-image: url(../Assets/slider_next.svg) !important;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.h--timeline-navigation:hover {
    border-color: #7f40d1;
}

.h--timeline-navigation--prev {
    left: -11px;
    -webkit-transform: translateY(-50%) rotate(180deg);
    -ms-transform: translateY(-50%) rotate(180deg);
    transform: translateY(-50%) rotate(180deg);
}

.h--timeline-navigation--next {
    right: -11px;
}

.h--timeline-navigation--inactive {
    cursor: not-allowed;
    display: none;
}

.h--timeline-navigation--inactive::after {
    background-position: 0 -16px;
}

.h--timeline-navigation--inactive:hover {
    border-color: #FFF;
}

/* Timeline events container */
/* --------------------------------------- */
/* .h--timeline-events.timeline_card{
    width: 20%;
} */
.h--timeline-events {
    overflow: hidden;
    transition: height 0.4s;
    padding-bottom: 2rem;

}

.h--timeline-event {
    position: absolute;
    z-index: 1;
    width: 100%;
    left: 0;

    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    padding: 1px 5%;
    opacity: 0;
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}

.h--timeline-event-content {
    max-width: 800px;
    margin: 2rem auto 0;
    padding: 2rem;
    border-radius: 5px;
}

.h--timeline-event--selected {
    position: relative;
    z-index: 2;
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

/* Timeline animations */
/* --------------------------------------- */
.h--timeline-event--enter-right,
.h--timeline-event--leave-right {
    -webkit-animation-name: cd-enter-right;
    animation-name: cd-enter-right;
}

.h--timeline-event--enter-left,
.h--timeline-event--leave-left {
    -webkit-animation-name: cd-enter-left;
    animation-name: cd-enter-left;
}

.h--timeline-event--leave-right,
.h--timeline-event--leave-left {
    animation-direction: reverse;
}

.h--timeline-event-title {
    color: #000 !important;
    font-size: 3rem;
    font-size: 24px !important;
    font-family: "Noto Sans", sans-serif !important;
    font-weight: 600 !important;
}

.h--timeline-event-date {
    display: block;
    font-style: italic;
    margin: 0.5rem auto;
    margin: 1rem auto;
    font-size: 24px !important;
}

.h--timeline-event-content h2 {
    margin-top: 0%;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #000;
}

.h--timeline-event-description{
    font-family: "Noto Sans", sans-serif !important;
    color: #484848;
}

.h--timeline-event-content h5 {
    font-style: normal;
    font-weight: 500;
    font-size: 19px !important;
    line-height: 33px;
    text-align: center;
    margin-bottom: 20px;
}

.h--timeline-event-date_sub {
    font-style: normal;
    font-weight: 500 !important;
    font-size: 24px !important;
    line-height: 17px;
    text-align: center;
    margin-top: 16px;
    color: #696969 !important;
}

.h--timeline-event-content p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: start;
    letter-spacing: 0.02em;
    margin-bottom: 12px !important;
}

/* .h--timeline-event-content p::first-letter{
    font-weight: 600;
    font-size: 26px;
} */

@-webkit-keyframes cd-enter-right {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
}

@keyframes cd-enter-right {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
}

@-webkit-keyframes cd-enter-left {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
}

@keyframes cd-enter-left {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
}

/* Overwrites */
/* Change the position of dates top / botom / top */
/* --------------------------------------- */
.h--timeline-date::after,
.h--timeline-date::before {
    background-color: #000;
}

.h--timeline-date--selected::after {
    background-color: #f7f7f7;
    border-color: #FFF;
}

.h--timeline-date--older-event::after {
    background-color: #FFF;
    border-color: #FFF;
}

.h--timeline-line li .h--timeline-date--selected::after,
.h--timeline-line li .h--timeline-date:hover::after {
    width: 21px;
    height: 21px;
    bottom: -9px;
    background-color: #f7f7f7;
    border-color: #00000000;
}

.h--timeline-line li:nth-child(odd) .h--timeline-date:hover::before,
.h--timeline-line li:nth-child(odd) .h--timeline-date--selected::before {
    bottom: -3px;
}

.h--timeline-event-content {
    margin-top: 0;
    padding: 0;
    max-width: 100%;
    display: flex;
}

.time_line_sec {
    width: 100%;
    background: rgb(255 255 255 / 8%);
    backdrop-filter: blur(20px);
    margin-left: -30px;
}

/**/
.time_line .splide__arrows {
    display: none;
}

.time_line_sec .splide__pagination {
    bottom: -0.5em !important;
}

.timeline_content img {
    height: 100%;
    margin: 5px 5px 0 5px;
}

.h--timeline-event-content .timeline_img {
    /* width: 100%; */
    margin-left: -1px !important;
    margin: 0 auto;
}

.time_line .splide__pagination {
    margin-top: 30px;
    position: unset !important;
    visibility: visible !important;
}

.time_line .splide__pagination .splide__pagination__page {
    border: 4px solid #cfc8c8 !important;
}

.time_line .splide__pagination__page {
    background: #000000 !important;
    border: 4px solid #fff !important;
    height: 13px !important;
    width: 13px !important;
}

.timeline_content img {
    width: 20px !important;
}